<html>
<body>

</body>
</html>

{% extends "layout.html" %}
{% block head %}
    <script src="../static/scripts/diff_match_patch_uncompressed.js"></script>
    <script src="../static/scripts/utils.js"></script>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm" id="text1">
                One of three columns
            </div>
            <div class="col-sm" id="text2">
                One of three columns
            </div>
        </div>
    </div>

    <script>
        let dmp = new diff_match_patch();
        let text1 = `(s1h / hit-01
  :ARG1 (s1p / province
          :name (s1n / name
                  :op1 "West"
                  :op2 "Papua")
          :location (s1c / country
                      :name (s1n2 / name
                              :op1 "Indonesia"))
          :location-of (s1a / and
                         :op1 (s1k / kill-01
                                :ARG1 (s1p3 / person
                                        :quant 5))
                         :op2 (s1i2 / injure-01
                                :ARG1 (s1p4 / person
                                        :quant (s1m / multiple
                                                 :op1 100)))
                         :time (s1w / weekend)
                         :ARG1-of (s1c2 / cause-01
                                    :ARG0 (s1d / destroy-01
                                            :ARG1 (s1b / building)))))
  :ARG2 (s1e / earthquake
          :quant (s1s / seismic-quantity
                   :quant 6.1
                   :scale (s1r / richter))
          :mod (s1t2 / tremor
                 :mod (s1l / last)
                 :ARG1-of (s1p2 / powerful-02)
                 :ARG0-of (s1s2 / shake-01
                            :ARG1 "p")))
  :time (s1t / today))`;
        let text2 = `(s1h / hit-01
  :ARG1 (s1p / province
  :name (s1n / name
                  :op1 "West"
                  :op2 "Papua")
          :location (s1c / country
                      :name (s1n2 / name
                              :op1 "Indonesia"))
          :location-of (s1a / and
                         :op1 (s1k / kill-01
                                :ARG1 (s1p3 / person
                                        :quant 5))
                         :op2 (s1i2 / injure-01
                                :ARG1 (s1p4 / person
                                        :quant (s1m / multiple
                                                 :op1 100)))
  :ARG2 (s1e / earthquake
          :quant (s1s / seismic-quantity
                   :quant 6.1
                   :scale (s1r / richter))
          :mod (s1t2 / tremor
                 :mod (s1l / last)
                 :ARG1-of (s1p2 / powerful-02)
                 :ARG0-of (s1s2 / shake-01
                            :ARG1 "p")))
  :time (s1y / yesterday))`
        var diff = dmp.diff_main(`{{ annot_src }}`, `{{ annot_tgt }}`);
        // Result: [(-1, "Hell"), (1, "G"), (0, "o"), (1, "odbye"), (0, " World.")]
        dmp.diff_cleanupSemantic(diff);
        // Result: [(-1, "Hello"), (1, "Goodbye"), (0, " World.")]
        console.log(diff);

        let innerText1 = "";
        let innerText2 = "";
        for (let d in diff) {
            console.log(diff[d]);
            if (diff[d][0] === 0) {
                innerText1 += htmlSpaceGuard(diff[d][1]);
                innerText2 += htmlSpaceGuard(diff[d][1]);
            } else if (diff[d][0] === 1) {
                innerText2 += "<span style='background-color: #00ff00;'>" + htmlSpaceGuard(diff[d][1]) + "</span>";
            } else if (diff[d][0] === -1) {
                innerText1 += "<span style='background-color: #ff0000;'>" + htmlSpaceGuard(diff[d][1]) + "</span>";
            }
        }
        document.getElementById("text1").innerHTML = innerText1;
        document.getElementById("text2").innerHTML = innerText2;

    </script>

{% endblock content %}

{% block content2 %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Compare Differences </legend>
                <div>
                  {{form.target_annotator.label }}{{form.target_annotator(class="form-control form-control-sm")}}<br/>
                </div>
                <div>
                  {{form.annotation.label }}{{form.annotation(class="form-control form-control-sm")}}<br/>
                </div>
        </fieldset>

        <div class="input-group-append">
            {{ form.submit(class="btn btn-outline-info", id="btnSubmit") }}
        </div>
    </form>

    <a class="btn btn-outline-secondary" id="annot-button" title="click to do sent-level annotation" href="{{ url_for('main.sentlevel', doc_version_id=doc_version_id, sent_id=1) }}">sent-level-annot</a>

{% endblock content2 %}
