<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="J Z">
        <meta name="description" content="UMR Writer">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="../static/styles/default2_typing.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/default.css" media="handheld">
        <link rel="stylesheet" type="text/css" href="../static/styles/default.css"
              media="only screen and (max-device-width:480px)">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/scripts/docLevelJquery.js"></script>
        <script src="../static/scripts/sentLevelJquery.js"></script>
        <script src="../static/scripts/doclevel.js" type="text/javascript"></script>
        <script src="../static/scripts/sentLevel.js" type="text/javascript"></script>
        <script src="../static/scripts/umrDict2penmanString.js" type="text/javascript"></script>
        <script src="../static/scripts/utils.js" type="text/javascript"></script>
        <script src="../static/scripts/penmanString2umrDict.js" type="text/javascript"></script>
        <script src="../static/scripts/modal_conversion.js" type="text/javascript"></script>
        <script src="../static/scripts/BlobBuilder.js"></script>
        <script src="../static/scripts/FileSaver.js"></script>
{#        <script>loadHistory('{{ curr_sent_umr|tojson|safe }}', `{{ curr_annotation_string }}`, `{{ curr_alignment |tojson|safe}}`);</script>#}


        <style type="text/css">
            .dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }

            .dropdown-submenu>a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover>a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

            .dropdown-submenu.pull-left>.dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

        </style>

        {% if title %}
            <title>UMR Annotation Tool - {{ title }}</title>
        {% else %}
            <title>UMR Annotation Tool </title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">UMR Annotation Tool</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" {# this is used when user switch to a mobile device, the nav bar will be toggled in and not taking a large amount of space on mobile screen #}
                            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle"> {# targeted by the navbar-toggler button above, will collapse on mobile device #}
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.display_post') }}">Home</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %} {# this is the links that got displayed when the user is authenticated#}
                                <a class="nav-item nav-link" href="{{ url_for('main.new_project') }}">New Project</a>
                                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container-fluid no-padding"> {# This is why the role attribute is here: https://stackoverflow.com/questions/10403138/what-is-the-purpose-of-the-role-attribute-in-html #}
            <div class="row align-items-center" style="height: auto; padding-bottom:70px; padding-left:50px; padding-right: 3px;">
{#            the left side#}
                <div id='content' class="col-md-8" style="height: auto;width: auto">
{#                error message section#}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
{#                 information section#}
                    <div id="info" style="height: auto; overflow-y: scroll; max-height: 250px;display: table">
                        <script type="text/javascript">
                            initializeDoc()
                        </script>
                        <table>
                        <tr>
                            <th class='text-muted'>Annotator:</th>
                            <th id="username">{{ owner.username }}</th>
                            <th class='text-muted'>Annotator ID:</th>
                            <th id="user_id">{{ owner.id }}</th>
                        </tr>
                        <tr>
                            <th class='text-muted'>File Name:</th>
                            <th id="filename" style="display:inline">{{ filename }}</th>
                            <th class='text-muted'>File Language:</th>
                            <th id="lang" style="display:inline">{{ lang }}</th>
                        </tr>
                        <tr>
                            <th class='text-muted'>Doc ID in database:</th>
                            <th id="doc_id" style="display:inline">{{ doc_id }}</th>
                            <th class='text-muted'>File format:</th>
                            <th id="file_format" style="display:inline">{{ file_format }}</th>
                        </tr>
                        <tr>
                            <th class='text-muted'>Project Name:</th>
                            <th id="project_name" style="display:inline">{{ project_name }}</th>
                            <th class='text-muted'>Project Admin:</th>
                            <th id="project_admin" style="display:inline">{{ admin.username }}</th>
                        </tr>
                    </table>
                    </div>
                    <hr>
{#                umr annotations#}






                        <div id="umrs" >

                        {% for pair in sent_annot_pairs %}

                            <div class="row" >
                                <div id="sent_annot{{ loop.index }}" class="col-sm" style="border-bottom-style: solid;float:left;overflow-x: scroll;">
                                    {% autoescape off %}
                                    {% if file_format == 'plain_text' or file_format =='isi_editor' %}
                                        <p>{{ loop.index }}. {{ pair[0].content }}</p>
                                    {% else %}
                                        <p>{{ loop.index }}. {{ pair[0] }}</p>
                                    {% endif %}
                                    <div id="amr{{ loop.index }}" >
{#                                        sentence level umrs are loaded here#}
                                    </div>
                                    {% endautoescape %}
                                </div>


{#                                <div line style="position: relative;float: left;width: 4px;height: auto;left: 0;top: 0;cursor: w-resize;border: 1px solid red;box-sizing: border-box">#}
                                <div class="col-sm-5" style=" border-bottom-style: solid;border-bottom-color:#999999;float: left;overflow-x: scroll;">
                                    <h5>Doc-Level Annotation:</h5>

                                    {% if pair[1].doc_annot | length %}
                    {#            if current sentence doc_annotation is not empty in database, load from database#}
                                        {% if loop.index == current_snt_id %}
{#                                            <div id="locate_page"></div>#}
                                            {% autoescape false %}
{#                                        <div id="locate_page"></div>#}
                                                <div id="amr" >{{ pair[1].doc_annot }}<br></div>

                                            {% endautoescape %}
                                        {% else %}
                                            {% autoescape false %}
                                                <div id="amr_doc{{ loop.index }}" >
                                                    <p>{{ pair[1].doc_annot | safe }}</p>
                                                </div>
                                            {% endautoescape %}
                                        {% endif %}
                                    {% else %}
                    {#          if current sentence doc_annotation is empty in database, create a sentence top #}
                                        {% if loop.index == current_snt_id %}
{#                                            <div id="locate_page"></div>#}

                                            <div id="amr"  >(s{{ loop.index }}s0 / sentence)<br></div>
{#                                            <div id="locate_page"></div>#}
                                        {% else %}
                                            <div id="amr_doc{{ loop.index }}"  >(s{{ loop.index }}s0 / sentence)<br></div>
                                        {% endif %}
                                    {% endif %}



                                </div>
                            </div>

                        {% endfor %}
                    </div>
                        </div>

{#            the right side#}
                {% if permission in ['admin', 'edit'] %}
                    <div id='menu' class="col-md-2 " style="height: auto;" >
                        <div style="position:fixed;right: 0; top:200px;" >
                            <form method="post">
                                <p>current sentence:
                                    <span id="curr_shown_sent_id" style="display: none"> {{ current_snt_id }}</span>
                                    <input type="number" name="sentence_id" id="curr_sent_id" size=8 min=1 max={{ sent_annot_pairs|length }} value={{ current_snt_id }}>
                                    <input type="submit" name="set_sentence" id="set_sentence" size=6 value="go" onclick="docUMR2db({{ owner.id }})">

                             </p>
                            </form>



                            <div id="text-command">
                        {#    child and parent arg are switched because the child and parent concept is different here#}
                                <table>
                                    <tr>
                                        <td>Node Parent:</td>
                                        <td><textarea class="form-control" rows="1" cols="50" id="parentArg" autocapitalize="off" spellcheck="false" style="resize:none;font-size:1.2em; max-width: 100px" onmouseout="myFunction()"  onfocus="fillInArgs('parentArg')" ></textarea></td>
                                    </tr></table>
                                                               <tr><td> <div class="btn-group dropright">
                                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="right:0;">Relations:</button>
                                <p class="dropdown-item" id="doc-level-relations"></p>
                                <ul class="dropdown-menu multi-level "  role="menu" aria-labelledby="dropdownMenu">
                                    <li class="dropdown-submenu pull-left">
                                        <a class="dropdown-item" tabindex="-1" >temporal</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :before')">:before</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :after')">:after</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :noted-on')">:noted-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :overlap')">:overlap</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :contained-by')">:contained-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :begins-on')">:begins-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :subevent-of')">:subevent-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :before/overlap')">:before/overlap</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :ends-on')">:ends-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :initiated-by')">:initiated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :reinitiated-by')">:reinitiated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :terminated-by')">:terminated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :continued-by')">:continued-by</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" tabindex="-1">coref</a>
                                        <ul class="dropdown-menu">
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :identical')">:identical</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :subset-of')">:subset-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :part-of')">:part-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :appositive-of')">:appositive-of</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                                               </div></td></tr>
                            <table ><tr>
                                        <td>Node Child:</td>
                                        <td><textarea class="form-control" rows="1" cols="50" id="childArg" autocapitalize="off" spellcheck="false" style="resize:none;font-size:1.2em;max-width: 100px; overflow:hidden;" onfocus="fillInArgs('childArg')"></textarea></td>
                                    </tr>
                                </table>
                                <button id='submit-doc-rel' onclick="initialCommand({{ current_snt_id }}); void($('#content').unhighlight({element: 'span', className:'text-danger'})); void($('#content').unhighlight({element: 'span', className:'text-primary'}));">submit</button>

                            </div>

                            <div >
                                <button class="btn btn-outline-secondary" onclick="docUMR2db({{ owner.id }})">save</button>
                                <button class="btn btn-outline-secondary" id="export-box" onclick="export_annot({{ exported_items}}, String(`{{content_string|string}}`))">export</button>
                                <button class="btn btn-outline-secondary" id="reset-box"><a title="reset" href="javascript:reset();">reset</a></button>

                            </div>
                            <hr>
                            <div>
                                <button class="btn btn-outline-secondary" id="delete-box"><a title="delete" href="javascript:changeShowStatus('delete');">delete</a></button>
                                <button class="btn btn-outline-secondary" id="edit-box"><a title="edit" href="javascript:changeShowStatus('replace');">edit</a></button>
                                 <button class="btn btn-outline-secondary" id="edit-box"><a title="edit" onclick="open_sent();">open</a></button>
{#                                  <button class="btn btn-outline-secondary" id="one-line-ne" onclick="changeSetting();">one-line NE</button>#}
                                <a class="btn btn-outline-secondary" id="annot-button" title="click to do sent-level annotation" href="{{ url_for('main.sentlevel', doc_sent_id=doc_id ~ '_' ~ current_snt_id ~'_' ~ owner.id ) }}">sent-level-annot</a>

                            </div>
                            <div id="error_prompt" style="word-break: normal">
                                    <span id="error_logger" style="word-break: break-word"></span>
                            </div>
                            <div id="error_msg" style="word-wrap:break-word;word-break:break-all;max-width: 300px">
                            </div>

                            <script type="text/javascript">
                                fillInSentAnnots({{ sentAnnotUmrs | safe }});
                                load_doc_history(`{{ current_sent_pair[1].doc_umr|tojson|safe }}`, `{{ current_sent_pair[1].doc_annot | safe }}`, `{{ current_snt_id }}`);
                                showBlueBox();
                            </script>
                        </div>
                    </div>
                {% else %}
                    <div id='menu' class="col-md-4" style="height: auto;"  >
                        <div style="position:fixed; top:200px;">
                            <form method="post">
                                <p>current sentence:

                                    <span id="curr_shown_sent_id" style="display: none"> {{ current_snt_id }}</span>
                                    <input type="number" name="sentence_id" id="curr_sent_id" size=8 min=1 max={{ sent_annot_pairs|length }} value={{ current_snt_id }} disabled>
                                    <input type="submit" name="set_sentence" id="set_sentence" size=6 value="go" disabled>
                                </p>
                            </form>


                            <div id="text-command" style="right: 0">
                        {#    child and parent arg are switched because the child and parent concept is different here#}
                                <table>
                                    <tr>
                                        <td>Node Parent:</td>
                                        <td><textarea class="form-control" rows="1" cols="50" id="parentArg" autocapitalize="off" spellcheck="false"  style="resize:none;font-size:1.2em; max-width: 100px"  onmouseout="myFunction()"   onfocus="fillInArgs('parentArg')"    disabled></textarea></td>
                                    </tr></table>

                                    <p>
                                     <div class="btn-group dropright">
                                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>Relations:</button>
                                <p class="dropdown-item" id="doc-level-relations"></p>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" tabindex="-1" >temporal</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :before')">:before</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :after')">:after</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :noted-on')">:noted-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :overlap')">:overlap</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :contained-by')">:contained-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :begins-on')">:begins-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :subevent-of')">:subevent-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :before/overlap')">:before/overlap</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :ends-on')">:ends-on</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :initiated-by')">:initiated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :reinitiated-by')">:reinitiated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :terminated-by')">:terminated-by</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':temporal :continued-by')">:continued-by</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" tabindex="-1" >modal</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a tabindex="-1" >:QUOT</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" >:MOD</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" >:PURP</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" >:COND</a></li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" tabindex="-1" >:MODSTR</a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :AFF')">:AFF</a></li>
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :NEUTAFF')">:NEUTAFF</a></li>
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :PARTAFF')">:PARTAFF</a></li>
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :NEG')">:NEG</a></li>
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :NEUTNEG')">:NEUTNEG</a></li>
                                                    <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':modal :PARTNEG')">:PARTNEG</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" tabindex="-1">coref</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :identical')">:identical</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :subset-of')">:subset-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :part-of')">:part-of</a></li>
                                            <li class="dropdown-item"><a tabindex="-1" href="javascript:noteDocLevelRel(':coref :appositive-of')">:appositive-of</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                    </div></p>


                                <table><tr>
                                        <td>Node Child:</td>
                                        <td><textarea class="form-control" rows="1" cols="50" id="childArg" autocapitalize="off" spellcheck="false" style="resize:none;font-size:1.2em;max-width: 100px; overflow:hidden;" onfocus="fillInArgs('childArg')" disabled></textarea></td>
                                    </tr>
                                </table>
                                <button id='submit-doc-rel' onclick="initialCommand({{ current_snt_id }}); void($('#content').unhighlight({element: 'span', className:'text-danger'})); void($('#content').unhighlight({element: 'span', className:'text-primary'}));" disabled>submit</button>

                            </div>

                            <div>
                                <button class="btn btn-outline-secondary" id="export-box" onclick="export_annot({{ exported_items}}, `{{content_string }}`)">export</button>
                                <button class="btn btn-outline-secondary" id="reset-box" disabled><a title="reset" href="javascript:reset();">reset</a></button>
                                <button class="btn btn-outline-secondary" id="delete-box" disabled><a title="delete" href="javascript:changeShowStatus('delete');">delete</a></button>
                                <a class="btn btn-outline-secondary" id="annot-button" title="click to do sent-level annotation" href="{{ url_for('main.sentlevel', doc_sent_id=doc_id ~ '_' ~ current_snt_id ~'_' ~ owner.id ) }}">sent-level-annot</a>
                            </div>

                            <script type="text/javascript">
                                fillInSentAnnots({{ sentAnnotUmrs | safe }});
                                load_doc_history(`{{ current_sent_pair[1].doc_umr|tojson|safe }}`, `{{ current_sent_pair[1].doc_annot | safe }}`, `{{ current_snt_id }}`);
                                showBlueBox();
                            </script>
                        </div>
                    </div>
                {% endif %}
            </div>


            <!--footer starts from here-->
            <div class="row">
                <div class="col-md-12">
                    <footer class="footer" style="position:fixed; bottom: 0; left: 0; right: 0;">
                        <div class="navbar navbar-expand-md navbar-dark bg-steel">
                            <div class="container">
                                <a class="navbar-brand mr-4" href="/">Quick links</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle2" {# this is used when user switch to a mobile device, the nav bar will be toggled in and not taking a large amount of space on mobile screen #}
                                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                    </button>
                                <div class="collapse navbar-collapse" id="navbarToggle2"> {# targeted by the navbar-toggler button above, will collapse on mobile device #}
                                    <div class="navbar-nav mr-auto" >
                                        <a class="nav-item nav-link" href="https://github.com/umr4nlp/umr-guidelines/blob/master/guidelines.md#part-2-2-umr-relations">UMR Guidelines</a>
                                        <a class="nav-item nav-link" href="https://github.com/amrisi/amr-guidelines/blob/master/amr.md#part-ii--concepts-and-relations">AMR Guidelines</a>
                                        <a class="nav-item nav-link" href="{{ url_for('main.guidelines') }}">User Guide</a>
                                    </div>
                        <!-- Navbar Right Side -->
                                    <div class="navbar-nav">
                                        <!--headin5_amrc ends here-->
                                        <div class="navbar-nav">
                                            <a class="navbar-brand mr-4" href="#">Contact</a>
                                            <a class="nav-item nav-link" href="#">jinzhao@brandeis.edu</a>
                                        </div>
                                    <!--footer_ul2_amrc ends here-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        {#    reference https://bootsnipp.com/snippets/bxDBA#}
        </main>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <script>

function myFunction(){
    let parent_value = document.getElementById('parentArg').value

    if (parent_value.trim()!==''){
                if (/s\d+/.test(parent_value.trim())){
                    let match_sent_id=parent_value.match(/s(\d+)/)
                    let current_id=document.getElementById("curr_shown_sent_id")
                    console.log(current_id.innerText)
                    if(match_sent_id[1].trim()!== current_id.innerText.trim()){
                        console.log('I am here for you')
                        $("#childArg").attr("disabled","disabled");
                    }

                    console.log(match_sent_id[1],'484')
                }
}}
        </script>
    </body>
</html>
