{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default2.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/lexicon.css">
{#    <script src="../static/scripts/sentLevelJquery.js"></script>#}
    <script src="../static/scripts/sentLevel.js" type="text/javascript"></script>
    <script src="../static/scripts/utils.js" type="text/javascript"></script>
    <script src="../static/scripts/BlobBuilder.js"></script>
    <script src="../static/scripts/FileSaver.js"></script>
    <script src="../static/scripts/lexicon.js"></script>

    <script src="../static/scripts/javascript-lemmatizer/bower_components/underscore/underscore.js"></script>
    <script src="../static/scripts/javascript-lemmatizer/js/lemmatizer.js"></script>


    <script type="text/javascript">
        $(document).ready( function () {
            $("#add-inflected").on('click', function(event){
                $.ajax({
                    url: "{{ url_for('main.lexicon_modify_inflected') }}",
                    type : "POST",
                    //dataType : 'json', // data type
                    data : $("#entry-update").serialize(),
                    success : function(result) {
                        console.log(result);
                        $("#forms-and-senses").html(result);
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                });
                event.preventDefault();
            });

            $("#add-sense").on('click', function(event){
                $.ajax({
                    url: "{{ url_for('main.lexicon_modify_sense') }}",
                    type : "POST",
                    //dataType : 'json', // data type
                    data : $("#entry-update").serialize(),
                    success : function(result) {
                        console.log(result);
                        $("#forms-and-senses").html(result);
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                });
                event.preventDefault();
            });
        });
    </script>

{% endblock head %}

{% block content %}
    <div id="info">
        <script type="text/javascript">
            initializeLexicon(`{{ frames_dict }}`, `{{ citation_dict }}`);
            suggestLemma("{{ project_id }}", "{{ doc_id }}", "{{ snt_id }}");
        </script>
        <table>
            <tr>
                <th class='text-muted'>Current User:</th>
                <th id="username">{{ current_user.username }}</th>
            </tr>
            <tr>
                <th class='text-muted'>Project Name:</th>
                <th id="project_name">{{ project_name }}</th>
            </tr>
        </table>
    </div>
    <hr>


    <div class="content-section" id="similar_word_list" style="height: auto; overflow-y: scroll; max-height: 250px;">
        Below is a list of suggested words sharing same lemma with the selected word
        <legend class="border-bottom mb-4"> <div id="selected_word"></div> </legend>
        <ul class="list-group" id="simWordList" >
        </ul>
    </div>

    <br>
    <form method="post" enctype="multipart/form-data" id="lookup">
        {{ look_up_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Look up Lexicon Entry </legend>
                <div>
                  {{ look_up_form.inflected_form.label }}{{ look_up_form.inflected_form(class="form-control form-control-sm")}}<br/>
                </div>
                <p>OR</p>
                <div>
                  {{ look_up_form.lemma_form.label }}{{ look_up_form.lemma_form(class="form-control form-control-sm", autocomplete="off")}}<br/>
                </div>
        </fieldset>

        <div class="input-group-append">
            {{ look_up_form.submit(class="btn btn-outline-info", id="btnSubmit") }}
        </div>
    </form>


{% endblock content %}

{% block content2 %}
    <script type="text/javascript">
        document.getElementById("selected_word").innerHTML = localStorage["selected_word"];
    </script>


    <form method="post" enctype="multipart/form-data" id="entry-update">
        {{ lexicon_item_form.hidden_tag() }}

        <fieldset class="form-group"  id="lexiconItemForm">
            <legend class="border-bottom mb-4">Look Up Result</legend>
            <div class="input-group mb-4">
                <div>
                    {{ lexicon_item_form.update_mode.label }} {{ lexicon_item_form.update_mode(class="form-control form-control-sm")}}
                </div>
                <div>
                    {{ lexicon_item_form.lemma.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.lemma(class="form-control form-control-sm") }}<br/>
                </div>
                <div>
                    {{ lexicon_item_form.root.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.root(class="form-control form-control-sm") }}<br/>
                </div>
                <div>
                    {{ lexicon_item_form.pos.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.pos(class="form-control form-control-sm") }}<br/>
                </div>

                <span id="forms-and-senses">{% include 'forms_and_senses.html' %}</span>

                <div>
                    {{ lexicon_item_form.add_inflected(id="add-inflected", class="form-control form-control-sm") }}
                </div>
                <div>
                    {{ lexicon_item_form.add_sense(id="add-sense", class="form-control form-control-sm") }}
                </div>
                <div>
                    {{ lexicon_item_form.remove_inflected(id="remove-inflected", class="form-control form-control-sm") }}
                </div>
                <div>
                    {{ lexicon_item_form.remove_sense(id="remove-sense", class="form-control form-control-sm") }}
                </div>
            </div>
        </fieldset>
        <div class="input-group-append">
            {{ lexicon_item_form.submit(class="btn btn-outline-info", id="btnSubmit") }}
        </div>
    </form>
    <hr>
    <a class="btn btn-outline-secondary" title="click to do sent-level annotation" href="{{ url_for('main.sentlevel', doc_sent_id=doc_id ~ '_' ~ snt_id ~ '_' ~ current_user.id) }}" onclick="pass_citation_dict(`{{ citation_dict }}`)">sent-level-annot</a>
    <script type="text/javascript">autocomplete(document.getElementById("lemma_form"), {{ autocomplete_lemmas|safe }});</script>

{% endblock content2 %}



