{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default2.css') }}">
{#    <link rel="stylesheet" type="text/css" href="../static/styles/default.css" media="handheld">#}
{#    <link rel="stylesheet" type="text/css" href="../static/styles/default.css" media="only screen and (max-device-width:480px)">#}
{#    <script src="../static/scripts/docLevelJquery.js"></script>#}
    <script src="../static/scripts/sentLevelJquery.js"></script>
    <script src="../static/scripts/sentLevel.js" type="text/javascript"></script>
    <script src="../static/scripts/utils.js" type="text/javascript"></script>
    <script src="../static/scripts/BlobBuilder.js"></script>
    <script src="../static/scripts/FileSaver.js"></script>

    <script src="../static/scripts/javascript-lemmatizer/bower_components/underscore/underscore.js"></script>
    <script src="../static/scripts/javascript-lemmatizer/js/lemmatizer.js"></script>


    <script type="text/javascript">
        $(document).ready( function () {
            $('#addNewInflectedForm').click(function() {
                console.log("add new inflected form is clicked");
                $.getJSON("{{ url_for('main.lexiconmodify', doc_id=doc_id, look_up_inflected=None, look_up_lemma=look_up_lemma, snt_id=snt_id)}}", {'add_inflected_box': true}, function (){
                     console.log("sucess2");
                }).done(function (json) {
                    console.log("success");
                 }).fail(function (jqxhr, textStatus, error) {
                     var err = textStatus + ", " + error;
                     console.log("Request Failed: " + err);
                 });
            });

            $("#addNewSense").click(function(){
                console.log("add new sense is clicked");
                $.getJSON("{{ url_for('main.lexiconmodify', doc_id=doc_id, look_up_inflected=None, look_up_lemma=look_up_lemma, snt_id=snt_id)}}", {'add_sense_box': true}, function (){
                     console.log("sucess2");
                }).done(function (json) {
                    console.log("success");
                 }).fail(function (jqxhr, textStatus, error) {
                     var err = textStatus + ", " + error;
                     console.log("Request Failed: " + err);
                 });
            });

            {#when update mode is add new entry, the lexicon item form boxes are cleared #}
            $("#update_mode").on('change', function(){
                if(document.getElementById('update_mode').value === 'add'){
                    $('#lexiconItemForm').find('input').val('');
                    $('#lexiconItemForm').find('textarea').val('');
                }
            })
        });

    </script>

{% endblock head %}

{% block content %}
    <div id="info">
        <script type="text/javascript">
            initializeLexicon(`{{ frames_dict }}`, `{{ citation_dict }}`);
            suggestLemma("{{ doc_id }}");
        </script>
        <table>
            <tr>
                <th class='text-muted'>Current User:</th>
                <th id="username">{{ current_user.username }}</th>
                <th class='text-muted'>User ID:</th>
                <th id="user_id">{{ current_user.id }}</th>
            </tr>
            <tr>
                <th class='text-muted'>File Name:</th>
                <th id="filename" style="display:inline">{{ filename }}</th>
                <th class='text-muted'>File Language:</th>
                <th id="lang" style="display:inline">{{ lang }}</th>
            </tr>
                <tr>
                <th class='text-muted'>Doc ID in database:</th>
                <th id="doc_id" style="display:inline">{{ doc_id }}</th>
                <th class='text-muted'>File format:</th>
                <th id="file_format" style="display:inline">{{ file_format }}</th>
            </tr>
        </table>
    </div>
    <hr>


    <div class="content-section" id="similar_word_list" style="height: auto; overflow-y: scroll; max-height: 250px;">
        Below is a list of suggested words sharing same lemma with the selected word
        <legend class="border-bottom mb-4"> <div id="selected_word"></div> </legend>
        <ul class="list-group" id="simWordList" >
        </ul>
    </div>

    <br>
    <form method="post" enctype="multipart/form-data" id="lookup">
        {{ look_up_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Look up Lexicon Entry </legend>
                <div>
                  {{ look_up_form.inflected_form.label }}{{ look_up_form.inflected_form(class="form-control form-control-sm")}}<br/>
                </div>
                <p>OR</p>
                <div>
                  {{ look_up_form.lemma_form.label }}{{ look_up_form.lemma_form(class="form-control form-control-sm")}}<br/>
                </div>
        </fieldset>

        <div class="input-group-append">
            {{ look_up_form.submit(class="btn btn-outline-info", id="btnSubmit") }}
        </div>
    </form>


{% endblock content %}

{% block content2 %}
    <script type="text/javascript">
        document.getElementById("selected_word").innerHTML = localStorage["selected_word"];
    </script>



    <form method="post" enctype="multipart/form-data">
        {{ lexicon_item_form.hidden_tag() }}

        <fieldset class="form-group"  id="lexiconItemForm">
            <legend class="border-bottom mb-4">Look Up Result</legend>
            <div class="input-group mb-4">
                <div>
                    {{ lexicon_item_form.update_mode.label }} {{ lexicon_item_form.update_mode(class="form-control form-control-sm")}}
                </div>
                <div>
                    {{ lexicon_item_form.lemma.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.lemma(class="form-control form-control-sm") }}<br/>
                </div>
                <div>
                    {{ lexicon_item_form.root.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.root(class="form-control form-control-sm") }}<br/>
                </div>
                <div>
                    {{ lexicon_item_form.pos.label(class="form-control-label") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ lexicon_item_form.pos(class="form-control form-control-sm") }}<br/>
                </div>

                <div>
                    {% for inflected_form in lexicon_item_form.inflected_forms %}
                        {{ inflected_form.label}}&nbsp;&nbsp;&nbsp;&nbsp;{{ inflected_form.inflected_form(class="form-control form-control-sm") }}<br/>
                    {% endfor %}
                </div>

                <div>
                    {% for sense in lexicon_item_form.senses %}
                        {{ sense.label(class="form-control-label")}}&nbsp;&nbsp;&nbsp;&nbsp;{{ sense }}<br/>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        <div class="input-group-append">
            {{ lexicon_item_form.submit(class="btn btn-outline-info", id="btnSubmit") }}
        </div>
    </form>
    <br>
    <button id="addNewInflectedForm">+ Add New Inflected Form Field</button>
    <button id="addNewSense">+ Add New Sense Field</button>
    <hr>
    <a class="btn btn-outline-secondary" title="click to do sent-level annotation" href="{{ url_for('main.annotate', doc_id=doc_id, snt_id=snt_id) }}">sent-level-annot</a>

{% endblock content2 %}



