{% extends "layout.html" %}
{% block head %}
    <script src="../static/scripts/lattice.js"></script>
    <title>Tangled tree visualization</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/lattice.css">
{% endblock head %}

{% block content %}
    <div id="lattice"></div>

    <script type="module">
        import define from "../static/scripts/modification.js";
        import {Runtime, Library, Inspector} from "../static/scripts/runtime.js";

        const runtime = new Runtime();
        const main = runtime.module(define, Inspector.into(document.getElementById("lattice")));

        let btn = document.createElement("button");
        btn.innerHTML = "Apply Changes";
        btn.style = "padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;";
        btn.onclick = function(){
            fetchLatticeSetting('modification', {{ project_id }});
        }//https://stackoverflow.com/questions/14034737/creating-a-button-dynamically-with-arguments-for-onclick
        document.getElementById("lattice").appendChild(btn);
    </script>
{% endblock %}
