{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default2.css') }}">
    <script src="../static/scripts/sentLevelJquery.js"></script>
    <script src="../static/scripts/sentLevel.js" type="text/javascript"></script>
    <script src="../static/scripts/docLevel.js" type="text/javascript"></script>
    <script src="../static/scripts/utils.js" type="text/javascript"></script>
    <script src="../static/scripts/penmanString2umrDict.js" type="text/javascript"></script>
    <script src="../static/scripts/umrDict2penmanString.js" type="text/javascript"></script>
    <script src="../static/scripts/BlobBuilder.js"></script>
    <script src="../static/scripts/FileSaver.js"></script>
    <script src="../static/scripts/partialGraph.js" type="text/javascript"></script>

    <script src="../static/scripts/javascript-lemmatizer/bower_components/underscore/underscore.js"></script>
    <script src="../static/scripts/javascript-lemmatizer/js/lemmatizer.js"></script>
{% endblock head %}


{% block content %}
    <div id="info">
        <table>
            <tr>
                <th class='text-muted'>Annotator:</th>
                <th id="username">{{ owner.username }}</th>
                <th class='text-muted'>Annotator ID:</th>
                <th id="user_id">{{ owner.id }}</th>
            </tr>
            <tr>
                <th class='text-muted'>File Name:</th>
                <th id="filename" style="display:inline">{{ filename }}</th>
                <th class='text-muted'>File Language:</th>
                <th id="lang" style="display:inline">{{ lang }}</th>
            </tr>
                <tr>
                <th class='text-muted'>Doc ID in database:</th>
                <th id="doc_id" style="display:inline">{{ doc_id }}</th>
                <th class='text-muted'>File format:</th>
                <th id="file_format" style="display:inline">{{ file_format }}</th>
            </tr>
            </tr>
                <tr>
                <th class='text-muted'>Project Name:</th>
                <th id="project_name" style="display:inline">{{ project_name }}</th>
                <th class='text-muted'>Project Admin:</th>
                <th id="project_admin" style="display:inline">{{ admin.username }}</th>
            </tr>
        </table>
    </div>
    <hr>

    {# display all the sentences #}
    <div id="all-sentences" style="height: auto; overflow-y: scroll; max-height: 250px;">
        <script type="text/javascript">
            initialize({{ frame_dict|tojson|safe }}, "{{ lang }}",`{{ partial_graphs_json |tojson|safe}}`)
        </script>
        {% autoescape off %}
        <p>{{ info2display.sents_html }}</p>
        {% endautoescape %}
    </div>
    <hr>
    <form method="post">
        <p>Line ID:
            <span id="curr_shown_sent_id" style="display: none"> {{ snt_id }}</span>
            <input type="number" name="sentence_id" id="sentence_id" size=8 min=1 max={{ info2display.sents|length }} value={{ snt_id }}>
            <input type="submit" name="set_sentence" id="set_sentence" size=6 value="go"><br>
        </p>
    </form>

    <div id="error_msg">
    </div>

    {# display the sentence with the chosen sentence ID #}
    {% if info2display.df_htmls|length and file_format != 'plain_text' %}
        <div id="sentence">
            Current Line:
            {% autoescape off %}
            <p>{{ info2display.df_htmls[snt_id-1] }}</p>
            {% endautoescape %}
            <p><b>Free(en)</b> {{ info2display.gls[snt_id-1][0] }}</p>
            <p><b>Free(es)</b> {{ info2display.gls[snt_id-1][1] }}</p>
            <p><b>Notes</b> {{ info2display.notes[snt_id-1] }}</p>

            {% if snt_id < info2display.df_htmls|length %}
                Next Line:
                <div id="table2">
                    {% autoescape off %}
                    <p>{{ info2display.df_htmls[snt_id] }}</p>
                    {% endautoescape %}
                    <p><b>Free(en)</b> {{ info2display.gls[snt_id][0] }}</p>
                    <p><b>Free(es)</b> {{ info2display.gls[snt_id][1] }}</p>
                    <p><b>Notes</b> {{ info2display.notes[snt_id] }}</p>
                </div>
            {% endif %}

        </div>
        <button class="btn btn-info btn-sm" id="show-more-info" onclick="toggleRow('optional-rows'); changeButton('show-more-info'); ">show less info</button>
    {% else %}
        <div id="sentence">
            {% autoescape off %}
            <p>{{ info2display.sent_htmls[snt_id-1] }}</p>
            {% endautoescape %}
        </div>
    {% endif %}

    <hr>
        <div>
                <p>UMR Penman Annotation:</p>
                <button class="btn btn-info btn-sm" id="set-head" >set head</button>
                <div>
                    <input type="text" style="width: 340px;" id="save-partial-graph" placeholder="Enter name and head for the partial graph" >
                    <button class="btn btn-info btn-sm" id="save-partial-graph-btn" onclick="recordPartialGraph()">Save</button>
                </div>
                <div id="amr">
                </div>
            </div>
    <hr>
    <div id="alignment">
        <p> Alignments:</p>
        <p id="align"></p>
    </div>

    <hr>
        <div>
                <p> Edit History:</p>
                <div id="eh"></div>
                <textarea id="edit_history"></textarea>
                <button class="btn btn-info btn-sm" type="button" onclick="goToEdit(document.getElementById('edit_history').value)">enter the edit number</button>

                <p id="edit_history"></p>
            </div>

{% endblock content %}

{% block content2 %}
    <div style="position:fixed; top:10%;">
        <table style="height: 10%; width:80%">
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">
                                <label for="roles">Roles</label>
                                <input list="default-roles" name="roles" id="roles" onfocus="this.value=''" onchange="this.blur();">
                                <datalist id="default-roles">
                                    <option value=":actor">
                                    <option value=":undergoer">
                                    <option value=":theme">
                                    <option value=":recipient">
                                    <option value=":force">
                                    <option value=":causer">
                                    <option value=":experiencer">
                                    <option value=":stimulus">
                                    <option value=":companion">
                                    <option value=":material">
                                    <option value=":place">
                                    <option value=":start">
                                    <option value=":goal">
                                    <option value=":affectee">
                                    <option value=":other-role">
                                    <option value=":instrument">
                                    <option value=":source">
                                    <option value=":manner">
                                    <option value=":reason">
                                    <option value=":apprehensive">
                                    <option value=":purpose">
                                    <option value=":temporal">
                                    <option value=":extent">
                                    <option value=":direction">
                                    <option value=":path">
                                    <option value=":ARG0">
                                    <option value=":ARG1">
                                    <option value=":ARG2">
                                    <option value=":ARG3">
                                    <option value=":ARG4">
                                    <option value=":ARG5">
                                    <option value=":ARG6">
                                    <option value=":calendar">
                                    <option value=":century">
                                    <option value=":day">
                                    <option value=":dayperiod">
                                    <option value=":decade">
                                    <option value=":era">
                                    <option value=":month">
                                    <option value=":quarter">
                                    <option value=":season">
                                    <option value=":timezone">
                                    <option value=":weekday">
                                    <option value=":year">
                                    <option value=":year2">
                                    <option value=":time">
                                    <option value=":duration">
                                    <option value=":frequency">
                                    <option value=":age">
                                    <option value=":medium">
                                    <option value=":mod">
                                    <option value=":name">
                                    <option value=":ord">
                                    <option value=":part">
                                    <option value=":poss">
                                    <option value=":quant">
                                    <option value=":range">
                                    <option value=":scale">
                                    <option value=":unit">
                                    <option value=":value">
                                    <option value=":wiki">
                                    <option value=":op1">
                                    <option value=":op2">
                                    <option value=":op3">
                                    <option value=":op4">
                                    <option value=":op5">
                                    <option value=":op6">
                                    <option value=":op7">
                                    <option value=":op8">
                                    <option value=":op9">
                                    <option value=":op10">
                                    <option value=":cause">
                                    <option value=":pure-addition">
                                    <option value=":concession">
                                    <option value=":concessive-condition">
                                    <option value=":condition">
                                    <option value=":example">
                                    <option value=":li">
                                    <option value=":polite">
                                    <option value=":topic">
                                    <option value=":group">
                                    <option value=":subtraction">
                                    <option value=":substitute">
                                    <option value=":Actor-of">
                                    <option value=":Undergoer-of">
                                    <option value=":Theme-of">
                                    <option value=":Recipient-of">
                                    <option value=":Force-of">
                                    <option value=":Causer-of">
                                    <option value=":Stimulus-of">
                                    <option value=":Experiencer-of">
                                    <option value=":Companion-of">
                                    <option value=":Material-of">
                                    <option value=":Place-of">
                                    <option value=":Start-of">
                                    <option value=":Goal-of">
                                    <option value=":Affectee-of">
                                    <option value=":Instrument-of">
                                    <option value=":Source-of">
                                    <option value=":Cause-of">
                                    <option value=":Manner-of">
                                    <option value=":Reason-of">
                                    <option value=":Purpose-of">
                                    <option value=":Temporal-of">
                                    <option value=":Extent-of">
                                    <option value=":Direction-of">
                                    <option value=":Path-of">
                                    <option value=":ARG0-of">
                                    <option value=":ARG1-of">
                                    <option value=":ARG2-of">
                                    <option value=":ARG3-of">
                                    <option value=":ARG4-of">
                                    <option value=":ARG5-of">
                                    <option value=":ARG6-of">
                                    <option value=":Group-of">
                                    <option value=":Other-role-of">
                                    <option value=":Mod-of">
                                    <option value=":Topic-of">
                                    <option value=":Medium-of">
                                    <option value=":Duration-of">
                                    <option value=":Frequency-of">
                                    <option value=":Age-of">
                                    <option value=":Range-of">
                                    <option value=":Poss-of">
                                    <option value=":Quant-of">
                                    <option value=":Value-of">
                                    <option value=":Degree-of">
                                    <option value=":Example-of">
                                    <option value=":Polarity-of">
                                    <option value=":Part-of">
                                    <option value=":Condition-of">
                                    <option value=":Concession-of">
                                    <option value=":Concessive-condition-of">
                                    <option value=":Pure-addition-of">
                                    <option value=":Substitute-of">
                                    <option value=":Subtraction-of">
                                </datalist>
                            </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id="concepts">
                            <label for="concept_types">Abstract Concept</label>
                            <input list="abstract-concepts" name="concept_types" id="concept_types" onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="abstract-concepts">
                                <option value='dummy'>
                                <option value='person'>
                                <option value='ordinal-entity'>
                                <option value='temporal-quantity'>
                                <option value='monetary-quantity'>
                                <option value='umr-unknown'>
                                <option value='umr-choice'>
                                <option value='truth-value'>
                                <option value='name'>
                                <option value='have-concession-91'>
                                <option value='have-org-role-91'>
                                <option value='have-rel-role-91'>
                                <option value='have-condition-91'>
                                <option value='have-degree-91'>
                                <option value='have-extent-91'>
                                <option value='have-frequency-91'>
                                <option value='have-instrument-91'>
                                <option value='have-li-91'>
                                <option value='have-location-91'>
                                <option value='have-manner-91'>
                                <option value='have-mod-91'>
                                <option value='have-name-91'>
                                <option value='have-ord-91'>
                                <option value='have-part-91'>
                                <option value='have-polarity-91'>
                                <option value='belong-91'>
                                <option value='have-91'>
                                <option value='have-purpose-91'>
                                <option value='have-quant-91'>
                                <option value='have-subevent-91'>
                                <option value='be-temporally-at-91'>
                                <option value='have-value-91'>
                                <option value='exist-91'>
                                <option value='identity-91'>
                                <option value='have-role-91'>
                                <option value="sum-of">
                                <option value="product-of">
                                <option value="resemble-91">
                                <option value="and">
                                <option value="or">
                                <option value="contrast-91">
                                <option value="inclusive-disj">
                                <option value="exclusive-disj">
                                <option value="and+but">
                                <option value="consecutive">
                                <option value="additive">
                                <option value="and+unexpected">
                                <option value="unexpected-co-occurrence-91">
                                <option value="and+contrast">
                                <option value="but-91">
                                <option value="be-actor-91">
                                <option value="be-undergoer-91">
                                <option value="be-theme-91">
                                <option value="be-experiencer-91">
                                <option value="be-force-91">
                                <option value="be-causer-91">
                                <option value="be-stimulus-91">
                                <option value="have-companion-91">
                                <option value="have-place-91">
                                <option value="be-affectee-91">
                                <option value="have-cause-91">
                                <option value="have-reason-91">
                                <option value="have-group-91">
                                <option value="have-material-91">
                                <option value="have-source-91">
                                <option value="have-start-91">
                                <option value="have-goal-91">
                                <option value="be-recipient-91">
                                <option value="have-other-role-91">
                                <option value="have-topic-91">
                                <option value="have-medium-91">
                                <option value="have-path-91">
                                <option value="have-direction-91">
                                <option value="have-duration-91">
                                <option value="have-age-91">
                                <option value="have-range-91">
                                <option value="have-degree-91">
                                <option value="have-example-91">
                                <option value="be-polite-91">
                                <option value="have-mode-91">
                                <option value="have-concessive-condition-91">
                                <option value="have-pure-addition-91">
                                <option value="have-apprehensive-91">
                                <option value="instead-of-91">
                                <option value="subtract-91">
                            </datalist>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="btn btn-info btn-sm" id="add-abs-concept" onclick="submit_query()">Add abstract concept</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="named_entities">
                            <label for="ne_types">Named Entity Types</label>
                            <input list="nes" name="ne_types" id="ne_types" onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="nes">
                                <option value='academic-organization'>
                                <option value='aircraft'>
                                <option value='aircraft-type'>
                                <option value='airport'>
                                <option value='amino-acid'>
                                <option value='amusement-park'>
                                <option value='animal'>
                                <option value='armed-organization'>
                                <option value='association'>
                                <option value='award'>
                                <option value='bay'>
                                <option value='biomedical-entity'>
                                <option value='book'>
                                <option value='bridge'>
                                <option value='broadcast-program'>
                                <option value='building'>
                                <option value='business'>
                                <option value='canal'>
                                <option value='canyon'>
                                <option value='car-make'>
                                <option value='celestial-body'>
                                <option value='cell'>
                                <option value='cell-line'>
                                <option value='ceremony'>
                                <option value='city'>
                                <option value='city-district'>
                                <option value='clan'>
                                <option value='company'>
                                <option value='computer-program'>
                                <option value='conference'>
                                <option value='constellation'>
                                <option value='continent'>
                                <option value='country'>
                                <option value='country-region'>
                                <option value='county'>
                                <option value='court-decision'>
                                <option value='criminal-organization'>
                                <option value='criminal-organization'>
                                <option value='cultural-activity'>
                                <option value='cultural-artifact'>
                                <option value='dance'>
                                <option value='date-entity'>
                                <option value='desert'>
                                <option value='disease'>
                                <option value='dna-sequence'>
                                <option value='earthquake'>
                                <option value='enzyme'>
                                <option value='ethnic-group'>
                                <option value='event'>
                                <option value='facility'>
                                <option value='family'>
                                <option value='festival'>
                                <option value='food-dish'>
                                <option value='forest'>
                                <option value='game'>
                                <option value='gene'>
                                <option value='geo-political-entity'>
                                <option value='geographic-entity'>
                                <option value='government-organization'>
                                <option value='government-organization'>
                                <option value='gulf'>
                                <option value='hotel'>
                                <option value='incident'>
                                <option value='individual-person'>
                                <option value='international-organization'>
                                <option value='island'>
                                <option value='journal'>
                                <option value='lake'>
                                <option value='language'>
                                <option value='law'>
                                <option value='league'>
                                <option value='literature'>
                                <option value='local-region'>
                                <option value='location'>
                                <option value='macro-molecular-complex'>
                                <option value='magazine'>
                                <option value='market'>
                                <option value='market-sector'>
                                <option value='medical-condition'>
                                <option value='military'>
                                <option value='molecular-physical-entity'>
                                <option value='moon'>
                                <option value='mountain'>
                                <option value='museum'>
                                <option value='music'>
                                <option value='music-key'>
                                <option value='musical-note'>
                                <option value='nationality'>
                                <option value='natural-disaster'>
                                <option value='natural-object'>
                                <option value='newspaper'>
                                <option value='notational-system'>
                                <option value='nucleic-acid'>
                                <option value='ocean'>
                                <option value='organization'>
                                <option value='palace'>
                                <option value='park'>
                                <option value='pathway'>
                                <option value='peninsula'>
                                <option value='percentage-entity'>
                                <option value='person'>
                                <option value='picture'>
                                <option value='planet'>
                                <option value='plant'>
                                <option value='political-movement'>
                                <option value='political-party'>
                                <option value='political-organization'>
                                <option value='port'>
                                <option value='product'>
                                <option value='program'>
                                <option value='protein'>
                                <option value='protein-family'>
                                <option value='protein-segment'>
                                <option value='province'>
                                <option value='publication'>
                                <option value='railway-line'>
                                <option value='region'>
                                <option value='regional-group'>
                                <option value='religious-group'>
                                <option value='religious-organization'>
                                <option value='research-institute'>
                                <option value='river'>
                                <option value='road'>
                                <option value='school'>
                                <option value='score-entity'>
                                <option value='sea'>
                                <option value='ship'>
                                <option value='show'>
                                <option value='small-molecule'>
                                <option value='social-group'>
                                <option value='spaceship'>
                                <option value='species'>
                                <option value='sports-facility'>
                                <option value='sports-organization'>
                                <option value='star'>
                                <option value='state'>
                                <option value='station'>
                                <option value='strait'>
                                <option value='string-entity'>
                                <option value='taxon'>
                                <option value='team'>
                                <option value='territory'>
                                <option value='theater'>
                                <option value='thing'>
                                <option value='treaty'>
                                <option value='tunnel'>
                                <option value='university'>
                                <option value='url-entity'>
                                <option value='valley'>
                                <option value='variable'>
                                <option value='vehicle'>
                                <option value='volcano'>
                                <option value='war'>
                                <option value='work-of-art'>
                                <option value='world-region'>
                                <option value='worship-place'>
                                <option value='writing-script'>
                                <option value='zoo'>
                            </datalist>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="btn btn-info btn-sm" onclick="submitNE()">Add Named Entity</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        Lexicalized Concept:
                        <div class="btn-group dropright">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="selected_tokens" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="conceptDropdown(`{{ lang }}`)"></button>
                            <ul id="genericDropdown" class="dropdown-menu">
                                <li class="dropdown-item"><a tabindex="-1">placeholder</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="attribute_types">
                            <label for="attributes">Attributes</label>
                            <input list="attr-types" oninput="show_attribute_values()" name="attributes" id="attributes"
                                   onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="attr-types">
                                <option value=":Aspect">
                                <option value=":polarity">
                                <option value=":mode">
                                <option value=":refer-person">
                                <option value=":refer-number">
                                <option value=":degree">
                            </datalist>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        {#    attribute values of Aspect#}
                        <div class="attributes" id="aspect-attribute" style="display: none">
                            <label for="attribute_values1">Attribute Values</label>
                            <input list="aspect-attr" name="attribute_values1" id="attribute_values1" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="aspect-attr">
                                <option value='Habitual'>
                                <option value='Imperfective'>
                                <option value='Process'>
                                <option value='Atelic Process'>
                                <option value='Perfective'>
                                <option value='State'>
                                <option value='Activity'>
                                <option value='Endeavor'>
                                <option value='Performance'>
                                <option value='Reversible State'>
                                <option value='Irreversible State'>
                                <option value='Inherent State'>
                                <option value='Point State'>
                                <option value='Undirected Activity'>
                                <option value='Directed Activity'>
                                <option value='Semelfactive'>
                                <option value='Undirected Endeavor'>
                                <option value='Directed Endeavor'>
                                <option value='Incremental Accomplishment'>
                                <option value='Nonincremental Accomplishment'>
                                <option value='Directed Achievement'>
                                <option value='Reversible Directed Achievement'>
                                <option value='Irreversible Directed Achievement'>
                            </datalist>
                        </div>

                        {#    attribute values of polarity#}
                        <div class="attributes" id="polarity-attribute" style="display: none">
                            <label for="attribute_values2">Attribute Values</label>
                            <input list="polarity-attr" name="attribute_values2" id="attribute_values2" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="polarity-attr">
                                <option value='-'>
                                <option value='+'>
                                <option value='amr-unknown'>
                            </datalist>
                            {#    <input type="submit" onclick="submit_attribute('attribute_values2')">#}
                        </div>

                        {#    attribute values of mode#}
                        <div class="attributes" id="mode-attribute" style="display: none">
                            <label for="attribute_values3">Attribute Values</label>
                            <input list="mode-attr" name="attribute_values3" id="attribute_values3" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="mode-attr">
                                <option value="imperative">
                                <option value="expressive">
                                <option value="interrogative">
                            </datalist>
                            {#    <input type="submit" onclick="submit_attribute('attribute_values2')">#}
                        </div>

                        {#    attribute values of refer-person#}
                        <div class="attributes" id="refer-person-attribute" style="display: none">
                            <label for="attribute_values4">Attribute Values</label>
                            <input list="refer-person-attr" name="attribute_values4" id="attribute_values4" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="refer-person-attr">
                                <option value="non-3rd">
                                <option value="non-1st">
                                <option value="1st">
                                <option value="2nd">
                                <option value="3rd">
                                <option value="incl.">
                                <option value="excl.">
                            </datalist>
                            {#    <input type="submit" onclick="submit_attribute('attribute_values2')">#}
                        </div>

                        {#    attribute values of refer-number#}
                        <div class="attributes" id="refer-number-attribute" style="display: none">
                            <label for="attribute_values5">Attribute Values</label>
                            <input list="refer-number-attr" name="attribute_values5" id="attribute_values5" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="refer-number-attr">
                                <option value="Singular">
                                <option value="Non-singular">
                                <option value="Paucal">
                                <option value="Plural">
                                <option value="Dual">
                                <option value="Non-dual Paucal">
                                <option value="Greater Plural">
                                <option value="Trial">
                                <option value="Non-trial Paucal">
                            </datalist>
                            {#    <input type="submit" onclick="submit_attribute('attribute_values2')">#}
                        </div>

                        {#    attribute values of refer-number#}
                        <div class="attributes" id="degree-attribute" style="display: none">
                            <label for="attribute_values6">Attribute Values</label>
                            <input list="degree-attr" name="attribute_values6" id="attribute_values6" onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist id="degree-attr">
                                <option value="Intensifier">
                                <option value="Downtoner">
                            </datalist>
                            {#    <input type="submit" onclick="submit_attribute('attribute_values2')">#}
                        </div>


                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-info btn-sm" id="add-attr" onclick="submit_query()">Add attribute</button>
                    </td>
                </tr>

        {#            simplified modal annotation #}
                <tr>
                    <td>
                        <div id="simplified_modal">
        {#                            datalist id has to be the same with input list, input name and id has to be the same with name, but those two pairs cannot be the same, div id and label for can be named whatever#}
                            <label for="simplified_modals">Modals</label>
                            <input list="modals" oninput="show_modal_values()" name="simplified_modals" id="simplified_modals" onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="modals">
                                <option value=":QUOT">
                                <option value=":MOD">
                                <option value=":MODSTR">
                            </datalist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="modals" id="modstr-vals" style="display:none">
                            <label for="modstr-values1">MODSTR Values</label>
                            <input list="modstr-values" name="modstr_values1" id="modstr-values1" onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="modstr-values">
                                <option value="Non-NeutAff">
                                <option value="Non-FullAff">
                                <option value="Non-NeutNeg">
                                <option value="Non-FullNeg">
                                <option value="FullAff">
                                <option value="PrtAff">
                                <option value="NeutAff">
                                <option value="FullNeg">
                                <option value="PrtNeg">
                                <option value="NeutNeg">
                                <option value="Strong-PrtAff">
                                <option value="Weak-PrtAff">
                                <option value="Strong-NeutAff">
                                <option value="Weak-NeutAff">
                                <option value="Strong-PrtNeg">
                                <option value="Weak-PrtNeg">
                                <option value="Strong-NeutNeg">
                                <option value="Weak-NeutNeg">
                            </datalist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-info btn-sm" id="add-modal" onclick="submit_query()">Add Modal</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="partial-graph-names">
                            <label for="partial-graphs">Partial Graphs</label>
                            <input list="partial-graph" name="graphs" id="partial-graphs" onfocus="this.value=''" onchange="this.blur();">
                            <datalist id="partial-graph">
                            </datalist>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="btn btn-info btn-sm" id="add-partial-graph" onclick="addPartialGraph()">Add partial graph</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div style="height: 10%; width:80%">
            <button class="btn btn-info btn-sm" id="umr2db" onclick="UMR2db()">save</button>
            <button class="btn btn-info btn-sm" id="export-box" onclick="export_annot({{ exported_items}}, `{{content_string }}`)">export</button>
            <button class="btn btn-info btn-sm" id="replace-box" onclick="changeShowStatus('replace');">edit</button>
            <button class="btn btn-info btn-sm" id="delete-box" onclick="changeShowStatus('delete');">delete</button>
            <button class="btn btn-info btn-sm" id="undo-button" title="currently nothing to undo" onclick="undo(-1);">undo</button>
            <button class="btn btn-info btn-sm" id="redo-button" title="currently nothing to undo" onclick="undo(1);">redo</button>
            <button class="btn btn-info btn-sm" id="reset-box" onclick="reset();">reset</button>
            <button class="btn btn-info btn-sm" id="one-line-ne" onclick="changeSetting();">one-line NE</button>
            <hr>
            <a class="btn btn-info btn-sm" id="annot-button" title="click to do doc-level annotation" href="{{ url_for('main.doclevel', doc_sent_id=doc_id ~ '_' ~ snt_id ~ '_' ~ owner.id, _anchor='amr') }}" onclick="UMR2db()">doc level annot</a>
            <a class="btn btn-info btn-sm" id="lexicon" title="click to do get/edit current suggest lemma" href="{{ url_for('main.lexiconlookup', project_id=project_id, doc_id=doc_id, snt_id=snt_id) }}" onclick="UMR2db(); get_selected_word()">lexicon lookup</a>
            <a class="btn btn-info btn-sm" id="lexicon" title="click to do get/edit current suggest lemma" href="{{ url_for('main.lexiconadd', project_id=project_id, doc_id=doc_id, snt_id=snt_id) }}" onclick="UMR2db(); get_selected_word()">add to Lexicon</a>
            <a class="btn btn-info btn-sm" id="search" title="search" href="{{ url_for('users.search', project_id=0) }}" onclick="UMR2db()">search</a>
            <a class="btn btn-info btn-sm" id="pg-button" title="click to show all partial graphs" href="{{ url_for('users.partialgraph', project_id=project_id) }}" onclick="UMR2db()">show partial graphs</a>
            <a class="btn btn-info btn-sm" title="click to show all lexicon" href="{{ url_for('users.alllexicon', project_id=project_id) }}" onclick="UMR2db()">show all lexicon</a>
            <a class="btn btn-info btn-sm" id="annot-button" title="click to go back to project page" href="{{ url_for('users.project', project_id=project_id) }}" onclick="UMR2db()">back to project</a>
        </div>
        <script type="text/javascript">
            colorAnnotatedSents('{{ annotated_sent_ids }}');
            loadHistory('{{ curr_sent_umr|tojson|safe }}', `{{ curr_annotation_string }}`, `{{ curr_alignment |tojson|safe}}`);
            selectEvent();
            customizeOptions(`{{ aspectSettingsJSON |tojson|safe}}`, "aspect-attr");
            customizeOptions(`{{ personSettingsJSON |tojson|safe}}`, "refer-person-attr");
            customizeOptions(`{{ numberSettingsJSON |tojson|safe}}`, "refer-number-attr");
            customizeOptions(`{{ modalSettingsJSON |tojson|safe}}`, "modstr-values");
            customizeOptions(`{{ discourseSettingsJSON |tojson|safe}}`, "default-roles_abstract-concepts");
            populatePartialGraphOptionList();
        </script>
    <div>
{% endblock content2 %}





