{% extends "layout.html" %}

{% block head %}
    <script src="../static/scripts/project.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/account.css') }}">

{% endblock head %}

{% block content %}
    One Line Named Entities:
    <label class="switch" title="one-line-NE">
      <input type="checkbox" id="one-line-NE" checked>
      <span class="slider"></span>
    </label>
    <script type="text/javascript">
        let checkbox = document.querySelector("input[id=one-line-NE]");
        checkbox.addEventListener('change', function() {
              localStorage["one-line-NE"] = document.getElementById("one-line-NE").checked;
        });
    </script>
{% endblock content%}

{% block content2 %}

{% endblock content2 %}