{% extends "layout.html" %}

{% block content %}
{#    <script>#}
{#        function enableDisable(id) {#}
{#            console.log("enableDisable is called");#}
{#            //Reference the Button.#}
{#            var stringfield = document.getElementById(id);#}
{#            var btnSubmit = document.getElementById("btnSubmit");#}
{##}
{#            //Verify the TextBox value.#}
{#            btnSubmit.disabled = stringfield.value.trim() === "";#}
{#            console.log(btnSubmit.disabled);#}
{#        }#}
{##}
{#        function myalert() {#}
{#            alert("example");#}
{#        }#}
{#    </script>#}

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file }}

        {{ form.autocomplete_input(list="id_datalist") }}
        <datalist id="id_datalist">
            <option value='Default'>
            <option value='English'>
            <option value='Chinese'>
        </datalist>
{#        <input type="submit">#}
    </form>

    <a type="button" href="{{ url_for('main.annotate') }}">
        <button class="btn btn-outline-info" id="btnSubmit">Annotate!</button>
    </a>

    <script>
{#    https://adactio.medium.com/submitting-a-form-with-datalist-9b9a653e1d3f#}
        document.querySelectorAll('input[list]').forEach(function (formfield) {
            var datalist = document.getElementById(formfield.getAttribute('list'));
            var lastlength = formfield.value.length;
            var checkInputValue = function (inputValue) {
                if (inputValue.length - lastlength > 1) {
                    datalist.querySelectorAll('option').forEach(function (item) {
                        if (item.value === inputValue) {
                            formfield.form.submit();
                        }
                    });
                }
                lastlength = inputValue.length;
            };
            formfield.addEventListener('input', function () {
                checkInputValue(this.value);
            }, false);
        });
    </script>


{% endblock content %}
