{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload File</legend>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        {{ form.file }}
                      </div>
                </div>

                <div>
                    {{ form.file_format.label(class="form-check-label") }}
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.file_format(class="form-check-input")}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.if_exported.label(class="form-check-label") }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.if_exported(class="form-check-input")}}
                </div>
                <br>

                <div>
                    {{ form.language_mode.label(class="form-check-label") }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.language_mode(class="form-check-input")}}
                </div>

            </fieldset>

            <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-info", id="btnSubmit") }}
            </div>
        </form>

        <br>
        <br>
        <form method="post" enctype="multipart/form-data">
            {{ lexicon_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload Lexicon</legend>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        {{ lexicon_form.file }}
                      </div>

                    <div>
                        {{ lexicon_form.language_mode.label(class="form-check-label") }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.language_mode(class="form-check-input")}}
                    </div>
                </div>
            </fieldset>

            <div class="input-group-append">
                {{ lexicon_form.submit(class="btn btn-outline-info", id="btnSubmit") }}
            </div>
        </form>

    </div>
{% endblock content %}
