{% extends "layout.html" %}
{% block head %}
    <script src="../static/scripts/upload.js" type="text/javascript"></script>
{% endblock head %}
{% block content %}
    <div class="content-section">
        <div class="alert alert-info" role="alert">
            <strong>Note:</strong> Please upload UMR format files only (.umr extension)
        </div>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload UMR File</legend>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        {{ form.files }}
                    </div>
                </div>
            </fieldset>
            <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-info", id="btnSubmit") }}
            </div>
        </form>
        <script type="text/javascript">
            parseUmrDicts({{ sent_annots | safe }}, {{ doc_annots | safe }}, {{ doc_id }})
        </script>
    </div>
{% endblock content %}
